button {
    -webkit-appearance: none;
    background: transparent;
    border: 2px solid gray;
    border-radius: 0;
    outline: none;
}

button:focus,
button:hover {
    border-color: black;
}

input[type="text"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="email"] {
    box-shadow: none;
    -webkit-appearance: none;
    outline: none;
    border: 1px solid gray;
    border-radius: 0;
    width: 10rem;
    height: 1.5rem;
    padding: 0 0.5rem;
    line-height: 1.5;
    font-size: 1rem;

    &:focus {
        border-color: black;
    }

    &::placeholder {
        color: #999;
    }
}

textarea {
    resize: vertical;

    &::placeholder {
        color: #999;
    }
}