/*************************************/

@mixin clear() {
    &:after {
        content: '';
        display: block;
        height: 0;
        clear: both;
    }
}

@mixin container($display:block) {
    max-width: 1140px;
    width: 100%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: $display;
}

@mixin grid-flex($count, $margin:15px, $el:'&-item') {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$margin;
    margin-right: -$margin;
    #{$el} {
        flex-shrink: 0;
        width: calc(100%/#{$count} - #{$margin}*2);
        margin-left: $margin;
        margin-right: $margin;
    }
}
